.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #253141;
}

.side-bar-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.rooms {
height: calc(100vh - 100px);
background-color: #2F3E51;
padding: 0 20px;
}

.main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-header {
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
}

.messages {
  height: calc(100vh - 100px - 90px) ;
  background-color: #FAFAFA;
  padding: 46px 40px 0px;
}

.form {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}